@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @foreach (var bookmark in ViewBag.Bookmarks)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>@bookmark.Title</p>
            </div>
            <div class="panel-body">
                <p>@bookmark.Description</p>
                <img src="@Url.Content(bookmark.ImagePath)" width="250" height="250" multiple />

                @foreach (var comment in bookmark.CommentsList)
                {
                    <p>@comment.CommentBody</p>
                }

                <form method="get" action="/Bookmark/Show/@bookmark.BookmarkId">
                    <button class="btn btn-default" type="submit">Details</button>
                </form>
            </div>
        </div>
    }
</div>
